@using Herbg.ViewModels.Product
@model ProductCardViewModel
@{
    var truncatedDescription = string.Join(" ", Model.Description.Split(' ').Take(4));
}

<div class="col">
    <div class="card h-100">
        <img src="@Model.ImagePath" class="card-img-top" alt="@Model.Name">
        <div class="card-body d-flex flex-column h-100">
            <h5 class="card-title">@Model.Name</h5>
            <div class="card-text">@truncatedDescription <form asp-area="" asp-controller="Product" asp-action="Details" method="post"> <input type="hidden" name="id" value="@Model.Id" /><button type="submit" class="btn btn-link ">Learn More...</button></form> </div>  @* Add "..." to indicate truncation *@

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3 mt-auto justify-content-around">

                <p class="card-text col-1">$@Model.Price</p>
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <form asp-area="Admin" asp-controller="Home" asp-action="DeleteProduct" method="get">
                            <input type="hidden" name="productId" value="@Model.Id" />
                            <button type="submit" class="btn btn-danger">
                                Delete
                            </button>
                        </form>

                        <form asp-area="Admin" asp-controller="Home" asp-action="EditProduct" method="get">
                            <input type="hidden" name="productId" value="@Model.Id" />
                            <button type="submit" class="btn btn-secondary"> Edit </button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Cart" asp-action="AddToCart" method="post">
                            <input type="hidden" name="productId" value="@Model.Id" />
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                        <form asp-controller="Wishlist" asp-action="Add" method="post">
                            <input type="hidden" name="productId" value="@Model.Id" />
                            <button type="submit" class="btn btn-secondary">
                                <i class="fas fa-heart"></i>
                            </button>
                        </form>
                    }
                }

            </div>

        </div>
    </div>
</div>
